# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/customer/node_modules
/Server/node_modules
/deliver-rider/node_modules
/fds-manager/node_modules
/restaurant-staff/node_modules
/Client/
/Server/Main/db.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*